.contact {
	/* section ID */
	overflow: hidden;
	display: inline-flexbox;
	background-image: url("https://images.unsplash.com/photo-1576615039667-c7a34b96f505?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5%;
	letter-spacing: 2vw;
	height: auto;
}
.contactHeader {
	/* contact title */
	font-family: var(--fontOne);
	padding: 1vh;
	margin-bottom: 0px;
	height: 30vh;
}
.contactHeader:hover {
	transform: scale(0.8) translateX(5px) rotate(10deg) translateY(5px);
	transition: width 0.3s, height 0.3s, transform 0.5s;
}
.contactTitle {
	font-size: 9vw;
}
.contactForm {
	padding: 2vh;
	margin-top: -15%;
	text-align: right;
}
.contactLabel {
	letter-spacing: 4vw;
}
.form-control::placeholder {
	color: var(--blueSecond);
	font-family: var(--fontTwo);
}
.messageBox {
	background-color: var(--redThirdTransparent);
	border-color: transparent;
	width: 120%;
	margin-right: 10vw;
}
.submitBtn:hover {
	background-color: var(--redThird);
	color: var(--blueSecond);
	border-color: transparent;
}
.linkedInLogo {
	margin-left: 30px;
}
