.myFeet {
	background-color: var(--yellowSecond);
	color: darkgoldenrod;
    height: 3vh;
    align-content: flex-end;
}
.feetText {
    font-family: var(--fontOne);
    align-self: baseline;
    margin-bottom: 0px;
	width: 100%;
    text-align: right;
}
