.mediaPage {
	background-color: var(--blueMain);
	background-image: url("https://images.unsplash.com/photo-1595531980158-ced264177b1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1670&q=80");
    padding: 2%;
}
.logos {
	flex-direction: row;
	height: auto;
}
.socialImg {
	opacity: .7;
}
.socialImg:hover {
	transform: scale(1.5);
	transition: width 0.3s, height 0.3s, transform 0.3s;
	opacity: 1;
}


/* 
.socialImg {
	align-self: baseline;
	padding: 40px;
}
.linkedInLogoAdjust {
    margin-left: 1%;
}
 */