#nav-content {
	font-family: var(--fontTwo);
	position: fixed;
	margin-top: 3rem;
	z-index: 4;
	flex-flow: row;
	justify-content: flex-start;
}
.navBox {
	z-index: 4;
	overflow: auto;
	background-color: var(--blueMainTransparent);
	border: thick solid inherit;
	height: 4.1rem;
	position: fixed;
	margin: -8vh auto auto auto;
	padding-top: 1%;
}
.nav-list {
	display: flexbox;
	overflow: auto;
	width: 100%;
	flex-flow: row;
	justify-content: space-around;
}
.nav-item {
	align-self: flex-start;
	flex-grow: 20;
	flex-grow: 6;
	padding: 0.3rem;
	margin-left: 5vw;
	font-family: var(--fontOne);
	color: var(--blueSecond);
	opacity: 0.5;
	font-size: 22px;
}
.nav-item:hover {
	opacity: 1;
	transform: scale(1.8);
	transition: width 0.3s, height 0.3s, transform 0.2s;
}
