.projects-box {
	background-color: var(--blueMain);
	background-image: url("https://images.unsplash.com/photo-1595531980346-03a39f6d518b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
	background-position-y: bottom;
	background-position-x: right;
	padding: 5% 5% 5% 5%;
}
.projectsTitle {
	font-family: var(--fontOne);
	font-size: 84px;
	text-align: right;
	letter-spacing: 2vw;
}
.card {
	font-family: var(--fontTwo);
	color: var(--blueFourth);
	background-color: var(--yellowMainTransparent);
	border-radius: 2%;
	padding: 8% 1%;
	border: none;
	margin: 2%;
	text-align: center;
	z-index: 0;
}
.card:hover {
	background-color: var(--yellowMain);
	transform: scale(1.1);
	transition: width 0.3s, height 0.3s, transform 0.3s;
	z-index: 0;
}
.card-subtitle {
	font-family: var(--fontOne);
	color: var(--blueFifth);
}