.projects-box {
	background-image: url("https://images.unsplash.com/photo-1595531980346-03a39f6d518b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
	background-position-y: bottom;
	background-position-x: right;
	padding: 5% 5% 5% 5%;
}
.projectsTitle {
	font-family: var(--fontOne);
	font-size: 10vw;
	text-align: right;
	letter-spacing: 2vw;
	margin-right: -5%;
}
.card {
	font-family: var(--fontTwo);
	color: var(--blueFourth);
	background-color: var(--blueThirdTransparent);
	padding: 5% 0%;
	border: none;
	margin: 2%;
	text-align: center;
	z-index: 0;
}
.card:hover {
	background-color: var(--yellowMain);
	transform: scale(1.1);
	transition: width 0.3s, height 0.3s, transform 0.3s;
	z-index: 2;
}
.card:hover .card-subtitle {
	display: block;
	width: 70%;
	font-size: 1vw;
	text-align: left;
}
.card:hover .card-title {
	display: none;
}
h5 {
	font-family: var(--fontOne);
	font-size: 4vw;
}
.card-subtitle {
	display: none;
	color: var(--blueFifth);
	font-size: 1.6vw;
	font-weight: 550;
	width: 40%;
}
.cardContainer {
	position: relative;
}
.overlay {
	position: absolute;
	margin: -15% auto auto -4%;
	padding: 1vw;
	width: 20vw;
	height: 20vw;
	filter: sepia(60%);
	transform: scale(0);
	transition: 0.3s ease;
}
.overlayThumbnail {
	width: auto;
	height: auto;
}
.container:hover .overlay {
	transform: scale(1);
}
.card_subtitle_empty {
	padding-top: 10%;
}
.toolList {
	font-size: 1.8vw;
}
